ProcessMonitor/bin/x64/Debug/MonitorProcess_log.txt
ProcessMonitor/bin/x64/Debug/ProcessMonitor.exe
ProcessMonitor/bin/x64/Debug/ProcessMonitor.pdb
ProcessMonitor/bin/x64/Debug/ProcessMonitor.vshost.exe
ProcessMonitor/bin/x64/Release/ProcessMonitor.exe
ProcessMonitor/bin/x64/Release/ProcessMonitor.pdb